/*
Style Name: CSS GRID Review 
Description: Class File
Author: Your Name 
Version: 1.0
Tags: GRID, Build, Be Awesome
*/

:root {
  --lightest: #f7f4e9;
  --light: #bcad8f;
  --dark: #ac9567;
  --footerColor: #706654;
  --darkest: #845904;
}

/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles                        
   02. CSS Grid                          
/* _____________________________________

   01. General Styles
   _____________________________________ */

.hidden {
  display: none;
}
.top-nav {
  display: none;
}
#selected {
  font-weight: 600;
}

#selected2 {
  font-weight: 700;
}

#button {
  background-color: var(--lightest);
  font-weight: 500;
  color: var(--darkest);
  font-size: 0.7rem;
  letter-spacing: 0.5rem;
  margin: 1rem 1rem 0 1rem;
  padding: 1%;

  /* align-items: center; */
}

.hamburger img {
  height: 1rem;
}

.nav-grid {
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-items: center;
  background-color: var(--lightest);
}

.social {
  display: flex;
  justify-content: center;
  /* background-color: var(--lightest); */
}

.social img {
  height: 1rem;
  padding: 1rem 0.5rem;
}
.box-model {
  margin: 1rem;
  padding: 1rem;
  color: #f7f4e9;
  background: #000;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li a {
  padding: 2rem;
  color: var(--dark);
}

input {
  padding: 0.6rem 10rem 0.6rem 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border: 0;
}
footer {
  text-align: center;
}
#footer-about ul {
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
  line-height: 2rem;
  margin: 2rem;
}

#foot-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

.copyright p {
  color: var(--light);
  text-align: center;
  font-size: 0.8rem;
  padding: 0 0 1rem 0;
}

/*------- Floats --------*/

.f-left {
  float: left;
}

.f-right {
  float: right;
}
/*------- End Floats --------*/

/*------- Mobile Padding ---------*/

.mobile-padding {
  display: flex;
}

.logo img {
  height: 30px;
  padding: 0;
}
.foot-style {
  background-color: var(--footerColor);
}

.foot-style ul {
  justify-content: center;
}

.foot-style a {
  font-size: 13px;
  color: var(--light);
}

/*------- End Mobile Padding ---------*/

@supports (grid-area: auto) {
  /*------------ Start Mobile ------------*/

  .site {
    max-width: none;
  }
  /*------------ Mobile Grid Items ------------*/
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
  }
  .logo {
    grid-column: 3;
  }
  .hamburger {
    grid-column: 2;
  }
  .social {
    grid-column: 4;
  }

  .head,
  .main > *,
  .foot {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .one-item {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
  }

  .two-items {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
  }

  .three-items {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
  }

  .footer-grid {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
    align-items: center;
  }

  .custom-override {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
    /* justify-items: center; */
  }

  #foot-search {
    grid-column: 1;
    grid-row: 1;
  }
  #foot-links {
    grid-column: 1;
    grid-row: 2;
  }
  #foot-orbit {
    grid-column: 1;
    grid-row: 3;
  }

  #button {
    margin-bottom: 1rem;
    margin: 1rem 5rem 1rem 5rem;
    /* align-items: center; */
  }

  .foot-style {
    padding: 1rem 0 1rem 0;
  }

  @media screen and (min-width: 768px) {
    .site {
      max-width: none;
    }

    .top-nav {
      display: none;
    }

    /*------------ Grid Items ------------*/

    .head,
    .main > *,
    .foot {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .one-item {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: 1fr;
    }

    .two-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .three-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .four-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .span-grid {
      grid-column: 1 / span 2;
    }

    .footer-grid {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
      align-items: center;
    }

    #foot-search {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    #foot-links {
      grid-column: 2;
      grid-row: 2;
    }
    #foot-orbit {
      grid-column: 1;
      grid-row: 2;
    }
    .copyright p {
      padding: 0;
    }

    #button {
      margin-bottom: 1rem;
      margin: 1rem 15rem 0 15rem;
      /* align-items: center; */
    }
    .foot-style {
      padding: 1rem 0 1rem 0;
    }

    /*------------  End Grid Items ------------*/
  }

  @media screen and (min-width: 1024px) {
    .site {
      max-width: none;
    }

    .top-nav {
      display: block;
    }

    .hamburger {
      display: none;
    }
    /*------------ Grid Items ------------*/

    .head,
    .main > *,
    .foot {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .nav-grid {
      display: grid;
      grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
    }
    .logo {
      grid-column: 2;
    }

    .social {
      grid-column: 4;
    }

    .one-item {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: 1fr;
    }

    .two-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      /* column-gap: 2em; */
    }

    .three-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .four-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .footer-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2em;
      column-gap: 2em;
      align-items: center;
    }

    #foot-search {
      grid-column: 2 / span 2;
      grid-row: 1;
    }
    #foot-links {
      grid-column: 4;
      grid-row: 1;
    }
    #foot-orbit {
      grid-column: 1;
      grid-row: 1;
    }

    #button {
      margin-bottom: 1rem;
      margin: 1rem 3rem 1rem 3rem;
      /* align-items: center; */
    }
    .foot-style {
      padding: 3rem 0 3rem 0;
    }

    /* align-items: center; */
  }

  /*------------  End Grid Items ------------*/
}
