:root {
  --darkblue: #0E3650;
  --lightblue: #54B1EE;
  --yellow: #FFE500;
  --orange: #FFA700;
  --green: #D5EE46;
  --purple: #8863BB;
  --ff-primary: "Poppins", sans-serif;
  --ff-body: var(--ff-primary); 
  --ff-heading:var(--ff-primary);
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-italic: 400 Italic;
  --fs-h2: 2.5rem;
  --fs-h3: 1.56rem;
  --fs-h4: .9rem;
  --fs-pharagraph: .8rem;
}
.hidden {
  display: none;
}


/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: 16px;
  
  background-image: url("../images/gradient-2.svg");
  background-repeat: no-repeat;

  background-size: cover;
  /* height: 100vh; */

}

h1,h2,h3,h4, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ___________________________________________
       CSS Guide
___________________________________________ */

/* 01. General Styles                        



   02. CSS Grid                          
/* _____________________________________
   01. General Styles
   _____________________________________ */

   .custom-btn {
    color: #fff;
    border-radius: 9px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: var(--fw-semi-bold);
    letter-spacing : 3px;
    background: linear-gradient(0deg, #2F8EC5 0%, #185372 100%);
    border: none;
  }


  
  .custom-btn:hover {
    color: var(--darkblue);
    background: white;
  }


#selected {
  font-weight: 600;
}

.glass-effect {
  z-index: 1;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(1rem);
  
}

.glass-corner {
  margin: 20px 0 20px 0;
  border-width: 1px;
  border-radius: .95rem;
  border-style: solid;
  border-color: white;

}

#selected2 {
  font-weight: 700;
}


.logo img {
  height: 30px;
  padding: 0;
}

.yellow-padding {
}

.yellow-padding h4 {
  color: #0C5E66;
  background-color: #8863BB;
}



/* backgound animation */
.circle {
  position: absolute;
  border-radius: 50%;
}
.circle:nth-child(1) {
  background: #ffffff;
  top: 63%;
  left: 43%;
  width: 45px;
  height: 45px;
  opacity: 0.3;
  -webkit-animation: float1 20s infinite linear;
          animation: float1 20s infinite linear;
}


@keyframes float1 {
  40% {
    -webkit-transform: translateX(20px) translateY(62px);
            transform: translateX(20px) translateY(62px);
  }
  80% {
    -webkit-transform: translateX(148px) translateY(37px);
            transform: translateX(148px) translateY(37px);
  }
}






/* ---------------heather stlye------------------ */
.heather-style {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);

  /* margin-bottom: 1rem; */
}

.social {
  display: flex;
  justify-content: center;
}

.social img {
  height: 1rem;
  padding: 1rem 0.5rem;
}
.box-model {
  margin: 1rem;
  padding: 1rem;
  color: #f7f4e9;
  background: #000;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li a {
  padding: 2rem;
  color: var(--dark);
}

/* ----------------------End of Heather ====================================== */

input {
  padding: 0.6rem 10rem 0.6rem 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border: 0;
}

/*   ----------footer -------------- */
footer {
  text-align: center;
}
#footer-about ul {
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
  line-height: 2rem;
  margin: 2rem;
}

#foot-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

.copyright p {
  color: var(--light);
  text-align: center;
  font-size: 0.8rem;
  padding: 0 0 1rem 0;
}

.foot-style {
  border-top: 1px solid rgb(255, 255, 255);
}

.foot-style ul {
  justify-content: center;
}

.foot-style a {
  font-size: 13px;
  color: var(--light);
}

/* ------------end of footer------------ */

/* ---------------------main page stlye */
.buttonStyle {
  padding-top: 6px;
  border: 0;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f0fae8;
}

.hover1:hover { background-color:var(--orange)}
.hover2:hover { background-color:var(--green)}
.hover3:hover { background-color:var(--purple)}


.section-padding{
  margin: .5rem;
}

.dynamic-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1rem;
}

.dynamic-copy h3 {
font-weight: var(--fw-regular);
font-size: var(--fs-h3);
color: var(--darkblue);
}

.dynamic-copy h2 {
  line-height: 2.5rem;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-h2);
  color: var(--darkblue);
  }

  .dynamic-copy h4 {
    line-height: 2.5rem;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-h4);
    color: var(--lightblue);
     


    }

  .dynamic-copy p {
    font-weight: var(--fw-regular);
      line-height: 1rem;
      font-size: var(--fs-pharagraph);
      color: var(--lightblue);
      }

  .dynamic-copy span {
        font-weight: var(--fw-bold);
}
  


.dynamic-buttons {
  display: flex;
  flex: start;
  justify-content: space-around

}

.nutrition-approve img{
padding: 1rem 0 1rem 0;

}





/* -------------------------end of main page */

/*------- Floats --------*/

.f-left {
  float: left;
}

.f-right {
  float: right;
}
/*------- End Floats --------*/

/*  -------------------Start At Mobile screen--------------------------------- */
@supports (grid-area: auto) {
  /*------------ Start Mobile ------------*/

  .site {
    max-width: none;
  }
  .top-nav {
    display: none;
    color: var(--darkblue);
    font-size: var(--fs-h4);
  }
  .burger div {
    width: 24px;
    height: 3px;
    background-color: var(--lightblue);
    margin: 5px;
    transition: all 0.3s ease;
  }

  /* Slide Navition */
  .nav-links {
    transform: translateX(-100%);
    display: flex;
    position: absolute;
    z-index: 98;
    left: 0;
    height: 52vh;
    width: 50%;
    top: 64px;
    background: rgba(56, 48, 31, 0.95);
    backdrop-filter: blur(00.1rem);
    justify-content: space-evenly;
    transition: transform 0.5s ease-in;
  }


  .nav-active {
    transform: translateX(0%);
  }
  .nav-links li {
    opacity: 0;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links ul {
    flex-direction: column;
    justify-content: space-around;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .foot-style {
    color: var(--darkblue);
    padding: 1rem 0 1rem 0;
  }

  /*------------ Mobile Grid Items ------------*/
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
  }
  .logo {
    grid-column: 3;
  }
  .burger {
    cursor: pointer;
    grid-column: 2;
  }
  .social {
    grid-column: 4;
  }

  .head,
  .main > *,
  .foot {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .one-item {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
  }

  .two-items {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
    justify-items: center;
    align-items: center
  }

  .three-items {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
  }

  .footer-grid {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
    align-items: center;
  }

  .custom-override {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
  }

  #foot-search {
    grid-column: 1;
    grid-row: 1;
  }
  #foot-links {
    grid-column: 1;
    grid-row: 2;
  }
  #foot-orbit {
    grid-column: 1;
    grid-row: 3;
  }

  #button {
    margin-bottom: 1rem;
    margin: 1rem 5rem 1rem 5rem;
    /* align-items: center; */
  }

  /* ------------------- Start Tablet--------------------------- */
  @media screen and (min-width: 768px) {
    .site {
      max-width: none;
    }
    
    .dynamic-size {
      height: 500px;
    }
    .top-nav {
      display: none;
    }
    .nav-links {
      width: 35%;
    }

    /*------------ Grid Items ------------*/

    .head,
    .main > *,
    .foot {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .one-item {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: 1fr;
    }

    .two-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .three-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .four-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .span-grid {
      grid-column: 1 / span 2;
    }

    .footer-grid {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
      align-items: center;
    }

    #foot-search {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    #foot-links {
      grid-column: 2;
      grid-row: 2;
    }
    #foot-orbit {
      grid-column: 1;
      grid-row: 2;
    }
    .copyright p {
      padding: 0;
    }

    #button {
      margin-bottom: 1rem;
      margin: 1rem 15rem 0 15rem;
      /* align-items: center; */
    }
    .foot-style {
      padding: 1rem 0 1rem 0;
    }

    /*------------  End Grid Items ------------*/
  }

  @media screen and (min-width: 1024px) {

/* start main page */

.dynamic-size {
  height: 500px;
}
.section-padding{
  margin: 0;
}

/* end main page */

    .nav-links {
      display: none;
    }

    .site {
      max-width: none;
    }

    .top-nav {
      display: block;
    }
    .nav-slide {
      display: none;
    }

    .burger {
      display: none;
    }
    /*------------ Grid Items ------------*/

    .head,
    .main > *,
    .foot {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .nav-grid {
      display: grid;
      grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
    }
    .logo {
      grid-column: 2;
    }

    .social {
      grid-column: 4;
    }

    .one-item {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: 1fr;
    }

    .two-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      /* column-gap: 2em; */
    }

    .three-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .four-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .footer-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2em;
      column-gap: 2em;
      align-items: center;
    }

    #foot-search {
      grid-column: 2 / span 2;
      grid-row: 1;
    }
    #foot-links {
      grid-column: 4;
      grid-row: 1;
    }
    #foot-orbit {
      grid-column: 1;
      grid-row: 1;
    }

    #button {
      margin-bottom: 1rem;
      margin: 1rem 3rem 1rem 3rem;
      /* align-items: center; */
    }
    .foot-style {
      padding: 3rem 0 3rem 0;
    }

    /* align-items: center; */
  }

  /*------------  End Grid Items ------------*/
}

@keyframes nav-LinkFad {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
